# Each line defines file patterns and the corresponding owners (preceded by '@')

.aglintrc.yaml               @Alex-302 @scripthunter7 @slavaleleka
.github/workflows/*          @Alex-302 @scripthunter7 @slavaleleka
.github/dependabot.yml       @Alex-302 @scripthunter7 @slavaleleka
.husky/*                     @Alex-302 @scripthunter7 @slavaleleka
.markdownlint.json           @Alex-302 @scripthunter7 @slavaleleka
.markdownlintignore          @Alex-302 @scripthunter7 @slavaleleka
.vscode/*                    @Alex-302 @scripthunter7 @slavaleleka
package.json                 @Alex-302 @scripthunter7 @slavaleleka
yarn.lock                    @Alex-302 @scripthunter7 @slavaleleka
