# Each line defines file patterns and the corresponding owners (preceded by '@')

.aglintrc.yaml               @Alex-302 @scripthunter7 @slvvko
.gitattributes               @Alex-302 @scripthunter7 @slvvko
.github/CODEOWNERS           @Alex-302 @scripthunter7 @slvvko @ameshkov
.github/dependabot.yml       @Alex-302 @scripthunter7 @slvvko
.github/workflows/*          @Alex-302 @scripthunter7 @slvvko
.gitignore                   @Alex-302 @scripthunter7 @slvvko
.husky/*                     @Alex-302 @scripthunter7 @slvvko
.markdownlint.json           @Alex-302 @scripthunter7 @slvvko
.markdownlintignore          @Alex-302 @scripthunter7 @slvvko
.vscode/*                    @Alex-302 @scripthunter7 @slvvko
package-lock.json            @Alex-302 @scripthunter7 @slvvko
package.json                 @Alex-302 @scripthunter7 @slvvko
